<header class="brand">
  {% unless settings.logo-placement == 'sidebar' %}<div class="container">{% endunless %}
    <div class="overlay"><a href="/">{% include 'logo' %}</a></div>
    {% unless settings.brand-byline == blank %}<h2>{{ settings.brand-byline }}</h2>{% endunless %}
  {% unless settings.logo-placement == 'sidebar' %}</div>{% endunless %}
</header>