<div class="fullscreen background">
  <div class="content-a">
    <div class="content-b">
      <h4>Be Part of the Adventure</h4>
      <h4>and get 15% off your first order!</h4>
      <div class="newsletter-form">
        <form action="//rise-outdoors.us13.list-manage.com/subscribe/post?u=d6728823fd3bb4c4bb2ba672f&amp;id=cd07ca05ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate contact-form">
          <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter">
          <div class="input-group">
            <input id="fieldEmail" name="EMAIL" class="form-control" type="email" placeholder="Your email">
            <span class="input-group-btn"><button type="submit" class="btn btn-signup">Subscribe Now</button></span>
          </div>
        </form>
      </div>
      <h5 class="msg error">Make sure you add a real email address</h5>
      <h5 class="msg success">Almost finished...</h5>
    </div>
  </div>
</div>

<script type='text/javascript'>

  var component = {
    input   : $('input[name="EMAIL"]'),
    mensage : {
      fields  : $('.msg'),
      success : $('.success'),
      error   : $('.error')
    }
  },
  regex  = /^[a-z][a-zA-Z0-9_]*(\.[a-zA-Z][a-zA-Z0-9_]*)?@[a-z][a-zA-Z-0-9]*\.[a-z]+(\.[a-z]+)?$/;

  component.input.blur(function () {
    component.mensage.fields.hide();
    regex.test(component.input.val()) ? component.mensage.success.show() : component.mensage.error.show();
  });

</script>

<footer id="footer-content" class="footer">
  <div class="container">
    {% if has_footer %}

    {% assign cols = '' %}
    {% for i in (1..3) %}
    {% assign col = 'column-' | append: i %}
    {% assign col_blog = col | append: '-blog' %}
    {% assign col_menu = col | append: '-menu' %}
    {% assign col_text = col | append: '-text' %}

    {% if settings[col_blog] != blank or settings[col_menu] != blank or settings[col_text] != blank or settings.newsletter-signup-placement contains col or settings.social-links-placement contains col %}
    {% assign cols = cols | append: col | append: '|' %}
    {% endif %}
    {% endfor %}
    {% assign footer_columns = cols | split: '|' %}

    <div class="row">
      {% for footer_column in footer_columns %}
      {% include 'footer-column-loop' %}
      {% endfor %}
    </div>
    {% endif %}

    <p class="text-center footer-credits">
      <small>
        &copy;{{ 'now' | date: '%Y' }}&nbsp;<a href="/" title="{{ shop.name }} {% include '__localize' with 'homepage' %}">{{ shop.name | replace: ' ', '&nbsp;' }}</a>
      </small>
    </p>
  </div>

  {% if has_footer_navbar %}{% include 'navbar' with 'footer' %}{% endif %}
</footer>
