/* Font Styles */

.main-content p {
	line-height: 170%;
	font-family: 'Lora', 'Times New Roman', Serif;
	font-size: 1.1rem;
}

input {
	font-family: "Courier New", Courier, monospace;
}

.carousel-caption {
	letter-spacing: 0.1rem;
}

.carousel-control .fa {
	width: 0px;
}

.product-price .money {
	color: #585858;
	font-size: 1rem;
	font-family: 'Lora', 'Times New Roman', Serif;
}

.article-meta {
	font-size: 1rem;
	font-family: 'Lora', 'Times New Roman', Serif;
	line-height
}

.blog-caption {
	font-style: italic;
	padding: 30px;
}

.blog-caption p {
	font-size: 20px;
	text-align:center;
}

.article-meta .share-icons {
	text-align: left;
}

.caption .product-price {
	font-size: 1rem;
	font-weight: normal;
}

.product-title {
	font-size: 1.3rem;
}

.product-thumbnail .caption, .collection-thumbnail .caption {
	text-align: center;
}

.blog-preview {
	height: 400px;
}

.featured-collection-title {
	text-align: center;
}

.carousel-inner {
	margin-bottom: 15px;
	height: 100%;
}

.navbar-default .navbar-nav > li > a, .dropdown-menu li a {
	color: #585858;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	transition: all 0.5s ease;
}

.navbar-default .navbar-nav > li > a:hover, .dropdown-menu li a:hover {
	color: #aeb2b7;
}

.form-control {
	font-size: 1.1rem;
	border: 1px solid #f5f5f5;
	color: #585858;
}

 .share-icons {
	font-size: 1.3rem;
}

.dropdown-menu li a {
	font-size: 12px;
	padding: 8px 20px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: none;
}

.carousel-caption h2 {
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	font-weight: 400;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}

.carousel-caption p {
	font-family: 'Lora', 'Times New Roman', Serif;
	font-style: italic;
	letter-spacing: 0.11rem;
	font-size: 1.8rem;
}

.text-muted {
	font-family: 'Lora', 'Times New Roman', Serif;
	font-size: 1.2rem;
}

.btn-lg {
	transition: all 0.5s ease;
}

.btn-lg, .btn-group-lg > .btn, .btn-group-lg > .quick-cart-btn, .btn-group-lg > .purchase-btn, #colorbox .btn-group-lg > button, .quick-cart-btn, .purchase-btn {
	padding: 15px 16px;
	font-size: 14px;
	line-height: 1.33;
	border-radius: 0px;
	font-family: "Montserrat", "Courier New", Courier, monospace;
	font-style: normal;
	text-transform: uppercase;
}

.btn {
	line-height: 1.33;
	border-radius: 0px;
	font-family: "Montserrat", "Courier New", Courier, monospace;
	font-style: normal;
	text-transform: uppercase;
}

.footer__grid h4 {
	letter-spacing: 2px;
    font-size: 18px;
}

.carousel {
	margin-bottom: 0em;
}

.overlay img {
	position: absolute;
	width:250px;
	margin: 0 auto;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 0;
}

.stream-logo-overlay {
	display: none;
}

.pager li > a, .pager li > span {
		border-radius: 3px;
    background: #2D3143;
		color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.05rem;
    transition: all 0.3s ease;
}

/* NAVBAR BRAND */

.navbar {
	position: fixed;
	margin-bottom: 0px;
	height: 70px;
}

.navbar .container {
	padding-top: 10px;
}

.navbar-brand img {
    height: 60px;
    display: inline;
    margin-left: 20px;
}

.navbar-brand {
		position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    bottom: 55px;
    height: 0px;
}

.navbar-brand h4 {
	font-family: 'lumberjack', "Montserrat", "Courier New", Courier, monospace;
	font-size: 5rem;
	letter-spacing: 0.7rem;
	margin-left: 40px;
}

.collection-grid, #product-wrap .main-content {
	padding-top: 70px;
}

#blog-wrap .main-content, #cart-wrap .main-content {
	padding-top: 100px;
}

#article-wrap .main-content {
	padding-top: 100px;
}

#search-wrap {
	padding-top: 90px;
}

/* ABOUT US */

.entry-content {
    margin: 0 auto;
}

/* CAROUSEL ANIMATION */

.carousel-caption h3:first-child {
	animation-delay: 3s;
}

.carousel-caption h3:nth-child(2) {
	animation-delay: 4s;
}

.carousel-caption button {
	animation-delay: 5s;
}

.animated {
	animation-delay: 0.5s;
}

/* NEWSLETTER SIGN UP */

.fullscreen.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position: center top;
    background-repeat: no-repeat;
    /* ie8- graceful degradation */
    height: 400px;
}

.fullscreen,
.content-a {
    width:100%;
    height:100%;
    overflow:hidden;
}
.fullscreen.overflow,
.fullscreen.overflow .content-a {
    height:auto;
    min-height:100%;
}

/* content centering styles */
.content-a {
	display:table;
}
.content-b {
	display:table-cell;
    position:relative;
	vertical-align:middle;
	text-align:center;
}

.content-b .newsletter-form {
	width: 40%;
    margin: 0 auto;
    padding: 20px;
}

.content-b .newsletter-form h4 {
	color: #2d3142;
}

.btn-signup, .btn-default {
	color: #fff;
  background-color: #2d3142;
}

.msg {
    display: none;
    color: #fff;
}

/* PRODUCTS AND COLLECTIONS */
.collectionBanner {
  margin-top: 40px;
  width: 100%;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

.collectionBanner h1 {
	color: #ffffff;
	padding-top: 200px;
	text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
	-webkit-text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	-moz-text-shadow:0 2px 5px rgba(0, 0, 0, 0.5);
}

.collection__description {
    height: auto;
    vertical-align: middle;
    max-width: 100%;
    margin-bottom: 10px;
    padding: 20px;
}

.collection__description h3 {
	color: #ffffff;
	letter-spacing: 0.06rem;
	margin-top: 0.5em;
}

.collection__description p {
	line-height: 170%;
    color: #585858;
    font-family: 'Lora', 'Times New Roman', Serif;
    font-size: 12px;
}

.collection__overlay {
	max-width: 600px;
	margin: 0 auto;
	background-color: #fff;
	color: #585858;
	padding: 30px;
	box-shadow: 0 0 30px 4px rgba(8,8,8,0.7);
	-webkit-box-shadow: 0 0 30px 4px rgba(8,8,8,0.7);
	-moz-box-shadow: 0 0 30px 4px rgba(8,8,8,0.7);
}

.product-thumbnail, .collection-item {
	transition: all 0.5s ease;
}

.product-thumbnail:hover, .collection-item:hover {
	opacity: 0.75;
}

.footer__grid {
	margin: 0 auto;
	text-align: center;
}

#product-details.col-sm-6 {
	margin-top: 40px;
}

/* BLOG INDEX */

.blogImage {
	margin-bottom: 10px;
	transition: all 0.5s ease;
}

.blogImage:hover {
	opacity: 0.75;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1000px) {
	.carousel-caption {
		bottom: 80px;
	}
}

@media only screen and (min-width:768px) and (max-width:1200px) {
	.overlay img {
		width: 180px;
		top: 90px;
	}

	.collection__feature-image img {
		opacity: 0.8;
	}

	.navbar .container {
		padding-left: 0px;
		padding-right: 30px;
	}

	.navbar-brand img {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.overlay img {
		max-width: 30%;
		top: 85px;
	}

	.carousel-inner>.item>img, .carousel-inner>.item>a>img {
		margin-bottom: 2em;
	}

	.collection__feature-image img {
		max-width: 100%;
	}

	.content-b .newsletter-form {
		width: 100% !important;
    	margin: 0 auto;
	}

	.entry-content {
		width: 80%;
	}

	.navbar-nav {
		background: #ffffff;
	}
	.navbar-default .navbar-toggle {
		border: none;
	}

	#product-details.col-sm-6 {
		margin-top: 0px;
		margin-left: 15px;
		margin-right: 15px;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background: #fff;
		text-align: center;
		height: 100%;
		font-size: 22px;
		height: 100%;
		max-height: none;
	}

	.dropdown-menu li a {
		font-size: 18px;
		text-align: center;
	}

	.navbar-default .navbar-nav > li > a, .dropdown-menu li a {
		line-height: 250%;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-top: none;
		border-bottom: #f5f5f5;
	}

	.form-inline .input-group, .navbar-form .input-group {
		display: block;
	}

	.navbar-form .btn {
		width: 80%;
		padding: 20px 10px;
		margin-top: 20px;
	}

	.navbar-form {
		margin-left: 10px;
		margin-right: 10px;
	}

	.input-group>.twitter-typeahead>.tt-query, .input-group>.twitter-typeahead>.tt-hint {
		border-radius: 4px !important;
	}
}

@media screen and (max-width: 480px) {
	.overlay img {
		max-width: 30%;
	}

	.carousel {
		padding-top: 50px;
	}

	.carousel-inner {
		margin-bottom: 0rem;
	}

	.carousel-caption {
		padding-top: 0px!important;
		padding-bottom: 0px!important;
	}

	.carousel-control .fa {
		font-size: 25px;
		margin-top: 5px;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background: #fff;
		text-align: center;
		height: 100%;
		font-size: 20px;
		height: 100%;
		max-height: none;
	}

	.dropdown-menu li {
		text-align: center;
	}

	.dropdown-menu li a {
		font-size: 16px;
	}

	.navbar-default .navbar-nav > li > a, .dropdown-menu li a {
		line-height: 250%;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-top: none;
		border-bottom: #f5f5f5;
	}

	.navbar-brand img {
		margin-left: 0px;
	}

	.collectionBanner {
		background-size: 200% !important;
	}
}

/* EXTRAS */

::selection {
  background: #CCDBDC;
}
::-moz-selection {
  background: #CCDBDC;
}
